<nav>
  <a href="/">Home</a>
  <a href="/supermalt">Supermalt Drinkers</a>
  <a href="/supermalt/new">New Supermalt Drinker</a>
  <a href="/ikea">Ikea Lovers</a>
  <a href="/ikea/new">New Ikea Lover</a>
</nav>
