<form action="/ikealovers<% if(@ikealover.id != '') %>/<%= @ikealover.id %><% end %>" method="post">

  <div>
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" value="<%= @ikealover.first_name %>" placeholder="Car Make">
  </div>
  <div>
    <label for="model">Model</label>
    <input type="text" name="model" value="<%= @car.model %>" placeholder="Car Model">
  </div>
  <div>
    <label for="year">Year</label>
    <input type="text" name="year" value="<%= @car.year %>" placeholder="Car Year">
  </div>

  <input type="submit" value="Submit">

  <% if(@car.id != '') %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

</form>
